:root {
	interpolate-size: allow-keywords;

	--white: rgb(255, 255, 255);
	--light-purple: hsl(275, 100%, 97%);
	--purple: hsl(292, 16%, 49%);
	--purple-shadow: hsla(292, 16%, 49%, 0.4);
	--dark-purple: hsl(292, 42%, 14%);
	--pink: hsl(281, 83%, 54%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

body {
	position: relative;
	min-height: 100vh;
	min-width: 320px;
	margin: auto;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-style: normal;
	color: var(--purple);
	background-color: var(--light-purple);
	line-height: normal;
}

.container {
	position: absolute;
	top: 0;
	display: block;
	width: 100%;
	height: 232px;
	background-image: url('/dist/img/background-pattern-mobile.svg');
	background-repeat: no-repeat;
	background-size: 100%;
}
.box {
	height: 100vh;
	padding-top: 8.9em;
	padding-bottom: 8.9em;

}

.card {
	margin: auto 1.3em;
	padding: 1.5em 1.5em 0.75em 1.5em;
	background-color: var(--white);
	border: none;
	border-radius: 0.6em;
	box-shadow: 0 10px 60px -30px var(--purple-shadow);
	&__title {
		display: flex;
		justify-content: start;
		align-items: center;
		line-height: 1.3;
		&-faq {
			font-size: 2.1rem;
			font-weight: 700;
			color: var(--dark-purple);
			margin-left: 0.7em;

		}

	}
	&__box {
		details[open] {
			--summary-icon: url('/dist/img/icon-minus.svg');
		}
		&-content {
			--_summary-icon: var(--summary-icon, url('/dist/img/icon-plus.svg'));
			&-questions {
				display: flex;
				align-items: center;
				justify-content: space-between;
				font-size: 1.08rem;
				font-weight: 600;
				padding: 1.1em 0;
				color: var(--dark-purple);
				list-style: none;
				cursor: pointer;
				&::-webkit-details-marker {
					display: none;
				}
				&::after {
					content: var(--_summary-icon);
					padding-left: 2em;
				}
				&:hover {
					color: var(--pink);
				}
				&:focus {
					color: var(--pink);
				}
			}
			&-answer {
				font-size: 0.93rem;
				line-height: 1.4;
				padding: .5em 0 1.5em 0;
			}
		}
	}

	img {
		display: block;
		max-width: 100%;
		height: 1.8em;
	}
}

details {
	overflow: hidden;
}

details::details-content {
	block-size: 0;
	transition: block-size 0.5s, content-visibility 0.5s;
	transition-behavior: allow-discrete;
}

details[open]::details-content {
	block-size: auto;
	transition: block-size 0.5s, content-visibility 0.5s;
}

@media (width >= 46em) {
	.container {
		background-image: url('/dist/img/background-pattern-desktop.svg');
	}
	.box {
		max-width: 1440px;
		margin: auto;
		padding-left: 50px;
		padding-right: 50px;
	}
	.card {
		margin: auto;
		width: 37.5em;
		&__title {
			&-faq {
				font-size: 3.8rem;
			}
		}
	}
}
