:root {
	--white: rgb(255, 255, 255);
	--light-purple: hsl(275, 100%, 97%);
	--purple: hsl(292, 16%, 49%);
	--dark-purple: hsl(292, 42%, 14%);
	--pink: hsl(281, 83%, 54%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Work Sans', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
    color: var(--purple);
    background-color: var(--light-purple);
    // box-decoration-break: var(--light-purple);
    line-height: 1.5;
}
